header, nav {
  display: flex;
  justify-content: space-around; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem; }

h1 {
  font-family: "Josefin Sans SemiBold", SansSerif;
  font-size: 2rem; }

p {
  font-family: "Josefin Sans", SansSerif;
  font-size: 1.2rem; }

footer {
  background-color: #286628;
  p: #fff; }

main {
  margin-left: 10px; }

#container1, #container2, #container3 {
  display: flex;
  margin: auto;
  width: 100%;
  height: 75%; }

.inner-slider1, .inner-slider2, .inner-slider3 {
  width: 100%;
  height: 75%;
  position: relative;
  overflow: hidden; }

.mytext {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%; }

.mytext img {
  width: 100%;
  height: 75%; }

.text {
  padding: 3px;
  font-size: 16px;
  text-align: center;
  background: lightgrey; }

.inner-slider1 .mytext, .inner-slider2 .mytext, .inner-slider3 .mytext {
  display: none;
  width: 100%;
  height: 75%; }

.inner-slider1 .mytext.active1, .inner-slider2 .mytext.active2, .inner-slider3 .mytext.active3 {
  display: flex; }

.prev1, .next1, .prev2, .next2, .prev3, .next3 {
  float: left;
  margin-top: 25%;
  cursor: pointer; }

.prev1, .prev2, .prev3 {
  position: relative;
  margin-right: -45px;
  z-index: 100; }

.next1, .next2, .next3 {
  position: relative;
  margin-left: -45px; }

/* landscape tablets  */
@media (min-width: 700px) {
  #container1, #container2, #container3 {
    display: flex;
    margin: 10px auto;
    width: 100%; }

  .inner-slider1, .inner-slider2, .inner-slider3 {
    width: 100%;
    height: 75%;
    display: flex;
    padding: 3px; }

  .inner-slider1 .mytext, .inner-slider2 .mytext, .inner-slider3 .mytext {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    height: 75%;
    margin: auto; }

  .mytext img {
    width: 99%;
    height: 238px; }

  .inner-slider1 .mytext .mytext_link {
    height: 238px; }

  .inner-slider1 .mytext .mytext_link a img {
    height: 100%;
    width: 100%; }

  .inner-slider1 .mytext .text {
    height: 100px; }

  .mytext_link {
    width: 99%;
    height: 75%; }

  .text {
    padding: 3px;
    font-size: 12px;
    text-align: center;
    height: 100px;
    width: 97%;
    background-color: lightgrey; }

  .prev1, .next1, .prev2, .next2, .prev3, .next3 {
    display: none; } }
/* desktops */
@media (min-width: 1100px) {
  #container1, #container2, #container3 {
    display: flex;
    margin: 10px auto;
    width: 100%; }

  .inner-slider1, .inner-slider2, .inner-slider3 {
    width: 100%;
    height: 75%;
    display: flex;
    padding: 3px; }

  .inner-slider1 .mytext, .inner-slider2 .mytext, .inner-slider3 .mytext {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    height: 75%;
    margin: auto; }

  .mytext img {
    width: 99%;
    height: 320px; }

  .inner-slider1 .mytext .mytext_link {
    height: 320px; }

  .inner-slider1 .mytext .mytext_link a img {
    height: 100%;
    width: 100%; }

  .inner-slider1 .mytext .text {
    height: 100px; }

  .mytext_link {
    width: 99%;
    height: 75%; }

  .text {
    padding: 3px;
    font-size: 14px;
    text-align: center;
    height: 100px;
    width: 98%;
    background: lightgrey; }

  .prev1, .next1, .prev2, .next2, .prev3, .next3 {
    display: none; } }

/*# sourceMappingURL=stil.css.map */
