//overordnet Louise
header, nav {
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: #000;
}
footer {
  background-color: #286628;
  p: #fff;
}
//overordnet Louise slut

//forside Louise
//forside Louise slut

//om
//om slut

//produkter
//produkter slut

//kontakt
//kontakt slut
