//overordnet Louise
$darkgreen: #286628;
$green: #13A512;
$lime:  #7FCC1C;

header, nav {
  display: flex;
  justify-content: space-around;
}

html {
  font-size: 62.5%; //1rem=10px
}
a {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
}
h1 {
  font-family: "Josefin Sans SemiBold", SansSerif;
  font-size: 2rem;
}
p {
  font-family: "Josefin Sans", SansSerif;
  font-size: 1.2rem;
}

footer {
  background-color: #286628;
  p: #fff;
}
//overordnet Louise slut

//forside Louise
//forside Louise slut

//om Jessie
//om Jessie slut

//produkter Ivan
//produkter Ivan slut

//tilbud Anders
//tilbud Anders slut

//kontakt Niklas
//kontakt Niklas slut
